<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="PrintMargin" value="50,50,100,50" />-->
    <add key="PrintMargin" value="40,40,20,30" />
    <!--<add key="PrintMargin" value="35,35,40,40" />-->
    <add key="PaperSize" value="A4" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="topMenuItem" value="0090"/>
    <add key="initialMenuItem" value=""/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
